/*-------------------------*/
/* BASIC SETUP */
/*-------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #fff;
	color: #555;
	font-family: 'Lato','Arial','sans-serif';
	font-weight:300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x:  hidden;
}

.clearfix{zoom:1}
.clearfix:after {
	content: '';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

/*----------------------------------------*/
/* RESUABLE COMPONENTS*/
/*----------------------------------------*/

.row {
	max-width: 1140px;
	margin:0 auto;

}

.section {
	padding: 80px 0;

}

/* ---------HEADINGS-------*/

h1 , h2 , h3{
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	
}

h1{
	margin-top: : 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 240%; 
	word-spacing: 3px;
}

h2{
	font-size: 108%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 5%;
}

h3{
	font-size: 110%;
	margin-bottom: 5%;
	text-align: center;
}

h2:after{
	display: block;
	height: 2px;
	background-color: #e67e22;
	content: " ";
	width: 150px;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 10px;
}
/*-----------PARAGRAPHS-----*/
.long-copy{
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
	margin-bottom: 5%;

}

.box p {
	font-size: 90%;
	line-height: 145%;
	text-align: justify;
	word-spacing: 0.5px;
}

/*------ICONS--------------*/
.icon-big{
	font-size: 200%;
	display: block;
	color: #e67e22;
	margin-bottom: 10px;
	margin-left: 40%;

}

/*-----BUTTONS--------------*/

.btn:link,
.btn:visited,
input[type=submit] {
	display: inline-block;
	padding: 10px 30px ;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	transition: background-color 0.2s,border 0.2s, color 0.2s ;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
	background-color: #d35400;
	border :1px solid #d35400;
	color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
	border :1px solid #d35400;
	color: #d35400;
}

.btn:hover,
.btn:active {
	background-color: #ef6d17;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
	border :1px solid #ef6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
	border :1px solid #ef6d17;
	color: #fff;
}


/*--------BUTTON-APP ICONS---------*/
.btn-app img{
	height: 50px;
	width: auto;
	margin-right: 10px;
}



/*--------------------------------*/
/*----HEADER-------*/
/*--------------------------------*/
header {
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url('img-css/hero.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	
	background-attachment: fixed;
}

.hero-text-box{
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}

.logo{
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
}

/*.nav-main-header{
	position: fixed;
	background-color: #333;
	width: 100%;
	
}*/

.main-nav{
	float: right;
	list-style: none;
	margin-top: 60px;
/*	position: relative;
*/}




.main-nav li {
	display: inline-block;
	margin-left: 40px;
	list-style: #fff;	
}

.main-nav li a:link,
.main-nav li a:visited {
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border: 2px solid ;
	padding: 10px;
	border-radius: 200px;

}

.main-nav li a:hover,
.main-nav li a:active {
	border: 1px solid #fff;
	transition:border 0.2s;
}

/*---------------------*/
/*--------MEALS-------*/
/*--------------------*/

.section-meals{
	padding: 0;
}

.meals-showcase{
	margin-top: 5%;
	list-style: none;
	width: 100%;
}

.meals-showcase li{
	display: block;
	float: left;
	width: 25%;
}

.meal-photo{
	width: 100%;
	margin:0;
	overflow: hidden;
	background-color: #000;
}

.meal-photo img{
	width: 100%;
	height: auto;
	transform: scale(1.15);
	transition: transform 0.5s,opacity 0.5s;
	opacity: 0.7;
}

.meal-photo img:hover{
	opacity: 1;
	transform:scale(1.03);
}

/*--------HOW IT WORKS--------------*/

.section-steps{
	background-color: #f4f4f4;
}
.steps-box{
	margin-top: 30px;
}

.steps-box:first-child {
	text-align: right;
	padding-right: 3%;
}

.steps-box:last-child{
	padding-left: 3%;
}

.appscreen{
	width: 40%;
}

.works-step{
	margin-bottom: 50px;
}

.works-step div{
	color:#e67e22;
	border:2px solid #e67e22;
	display: inline-block;
	border-radius: 40%;
	height: 50px;
	width: 50px;
	text-align:center;
	padding: 10px;
	float: left;
	margin-right: 25px;
}

.works-step p{
	text-align:justify;
}

.works-step:last-of-type{
	margin-bottom: 80px;
}

/*-----------BOX-------------*/
.box img{
 	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

/*---------TESTIMONIALS----------*/

.section-testimonials{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('img-css/back-customers.jpg');
	background-color: cover;
	color: #fff;
	background-attachment: fixed;
}

blockquote{
	padding: 2%;
	font-style: italic;
	line-height: 145%;
	position: relative;
}

blockquote:before{
	content: "\201C";
	font-size: 400%;
	display: block;
	position: absolute;
	top: 0px;
	left: -3;
}
cite{
	margin-top: 25px;
	font-size: 90%;
	display: block;
}

cite img{
	width: 50%;
	height:150px;
	border-radius: 50%;
	/*float: left;*/
	margin-right: 10px;
	vertical-align: middle;

}


/*--------SIGNUP------------*/

.signup{
	margin-top: 10%;
}

.section-plans{
	background-color: #f4f4f4;
}

.plan-box{
	background-color: #fff;
	border-radius: 5px;
	width: 100%;
	margin-left: 5%;
	text-align:justify;
}
.plan-box div{
	padding: 15px;
	border-bottom: 1px solid #e8e8e8;
}

.plan-price{
	font-size: 300%;
	margin-bottom: 10px;

}

.plan-price span{
	font-size: 30%;
}

.plan-box ul{
	list-style: none;
}

.plan-box ul li{
	padding: 5px 0;
}

.plan-price-meal{
	font-size: 80%;
}

/*----FORM------*/

.contact-form{
	width: 60%;
	margin-top: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
	width: 100%;
	padding: 7px;
	border-radius: 1px solid #ccc;
}

textarea {
	height: 100px;
}


/*--------FOOTER----------*/

footer{
	background-color: #333;
}

.footer-nav{
	list-style: none;
	float: left;

}

.social-icons{
	list-style: none;
	float: right;
}
.footer-nav li ,
.social-links li {
	display: inline-block;
	margin-right: 20px;
	
	font-size: 100%;
}

.footer-nav li a,
.social-links li a{
	color: #fff;	
}

.social-links li a{
	margin-right: 80px;
	/*float: left;*/
}

.footer-copyrights{
	font-size: 80%;
	
}

.footer-copyrights p{
	text-align: center;
	color: #fff;
	font-size: 130%;
}

/*------------------------*/
/*.circle {
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    background-color: #551a37;
    color: #fff;
}

.circle-small {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.circle-medium {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: 100px;
}

.circle-large {
    width: 200px;
    height: 200px;
    line-height: 50px;
    text-align: center;
}

.center {
    margin: 0 auto;
}

.right {
    float: right;
}

.left {
    float: left;
}

.full-length {
    height: 100%;
/*    margin-bottom: 311px; 
*/}

/*.bottom {
    bottom: 0;

}

.col{
	margin: 0;
	display: table-column-group;

}*/